.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.product-list{
  border:5px solid #ccc;
  margin:20px;
  padding:20px;
}

.product{
  border:1px solid #ccc;
  padding:20px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 15px;
  min-width: 200px;
}